﻿@model ClubHVNH.Models.ViewModel.PostViewModel

@{
    ViewBag.Title = "Xóa thông báo";
}

<h3>Bạn có chắc chắn muốn xóa thông báo này?</h3>

<div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-warning" })
        </div>
    }
</div>




