﻿@model IEnumerable<ClubHVNH.Models.ViewModel.PostViewModel>
@{
    ViewBag.Title = "Danh sách thông báo";
}

<span>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-warning" })
</span>

<table class="table table-bordered">

    @{
        int count = 0;
    }
    <tr>
        <th>
            STT
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deadline)
        </th>

        <th>Thao tác</th>
    </tr>

    @foreach (var item in Model)

    {
        <tr>
            <td>
                @{ count++; }
                @count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostType)
            </td>
            <th style="max-width:400px;">
                @Html.DisplayFor(modelItem => item.Name)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.Id }, new { @class = "btn btn-info" })
                @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Xóa", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                @Html.ActionLink("Các CLB đã gửi", "ListClubSent", new { id = item.Id }, new { @class = "btn btn-success" })
            </td>
        </tr>
    }

</table>

