﻿@model IEnumerable<ClubHVNH.Models.ViewModel.ListForProgramViewModel>

@{
    ViewBag.Title = "Danh sách thành viên huy động quân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" id="insert_form">
    <table class="table">

        @{
            int count = 0;
        }
        <thead>
            <tr>
                <th>STT</th>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Class)</th>
                <th>@Html.DisplayNameFor(model => model.Major)</th>
                <th>@Html.DisplayNameFor(model => model.Phone)</th>
                <th>@Html.DisplayNameFor(model => model.JoinedOrNot)</th>
                <th>Cập nhật trạng thái tham gia</th>
            </tr>
        </thead>

        <tbody id="item_table">
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @{ count++; }
                        @count
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Class)</td>
                    <td>@Html.DisplayFor(modelItem => item.Major)</td>
                    <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                    @{
                        if (item.JoinedOrNot == 1)
                        {
                            <td><span class="label label-success">Có tham gia</span></td>
                        }

                        else
                        {
                            if (item.JoinedOrNot == 0)
                            {
                                <td><span class="label label-danger">Không tham gia</span></td>
                            }

                            else
                            {
                                <td><span class="label label-warning">Chưa cập nhật</span></td>
                            }
                        }
                    }
                    <td>
                        <select name="JoinedOrNot" id="JoinedOrNot" class="form-control">
                            <option value="1">Có tham gia</option>
                            <option value="0">Không tham gia</option>
                        </select>
                    </td>
                    <input type="hidden" id="JoinProgramListId" name="JoinProgramListId" value="@item.JoinProgramListId" />
                </tr>

            }
        </tbody>

    </table>
</form>
<br />
<input type="button" id="btnSave" value="Cập nhật trạng thái tham gia" class="btn btn-success" />

<button class="btn btn-success loading" type="button" disabled style="display:none;">
    <span class="glyphicon glyphicon-refresh"></span>
    Đang cập nhật...
</button>

<script type="text/javascript">

     $("#btnSave").on("click", function () {
        if (confirm("Bạn có chắc chắn muốn cập nhật trạng thái tham gia của các thành viên?")) {

            //Loop through the Table rows and build a JSON array.
            var programListDetails = new Array();
            $("#item_table TR").each(function () {
                var row = $(this);
                var programListDetail = {};

                programListDetail.MemberId = row.find("TD").eq(1).html();
                programListDetail.JoinedOrNot = row.find("#JoinedOrNot").val();
                programListDetail.JoinProgramListId = row.find("#JoinProgramListId").val();

                programListDetails.push(programListDetail);
            });

            $('.loading').show();
            $('#btnSave').hide();

            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateJoinedOrNot", "Post")',
                data: JSON.stringify(programListDetails),
                contentType: "application/json; charset=utf-8",
                dataType: "json",

                success: function (message) {
                    if (message == 'ok') {
                        $('.loading').hide();
                        $('#btnSave').show();

                        alert("Cập nhật thành công");

                        location.reload();
                    }
                    else {
                        $('.loading').hide();
                        $('#btnSave').show();

                        alert("Mã sinh viên: " + message + " không tồn tại");
                    }

                }
            });

        }
    });

</script>