﻿@model IEnumerable<ClubHVNH.Models.ViewModel.ClubsSentListViewModel>

@{
    ViewBag.Title = "Các CLB đã gửi danh sách";
}

<table class="table">

    @{
        int count = 0;
    }

    <tr>
        <th>STT</th>
        <th>Câu lạc bộ</th>
        <th>Thời gian nộp danh sách</th>
        <th>Trạng thái</th>
        <th>Thao tác</th>
    </tr>

    @foreach (var item in Model)
    {

    <tr>
        <td>
            @{ count++; }
            @count
        </td>
        <td>@Html.DisplayFor(modelItem => item.ClubName)</td>
        <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
        @{
            TimeSpan deadLineRange = Convert.ToDateTime(item.Deadline) - Convert.ToDateTime(item.CreatedDate);

            int deadLineValue = Convert.ToInt32(deadLineRange.TotalHours);

            if (deadLineValue >= 0)
            {
                <td><span class="label label-success">Đúng hạn</span></td>
            }

            else
            {
                <td><span class="label label-danger">Gửi muộn</span></td>
            }

            if (item.PostTypeId == 1)
            {
                <td>@Html.ActionLink("Xem danh sách", "ListMemberForProgram", new { id = item.SentListId }, new { @class = "btn btn-primary" })</td>
            }

            if (item.PostTypeId == 2)
            {
                <td>@Html.ActionLink("Xem danh sách", "ListMemberForRanking", "Post", new { listid = item.SentListId, clubid = item.ClubId }, new { @class = "btn btn-primary" })</td>
            }
        }



    </tr>
    }

</table>

