﻿@model ClubHVNH.Models.ViewModel.ProgramAndRankingViewModel

@{
    ViewBag.Title = "Thông báo";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostType):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deadline):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description):
        </dt>
        <dd></dd>

        <dd>
            @Html.Raw(Model.Description)
        </dd>

    </dl>
</div>
@{
    if (Model.SentOrNot == "Chưa gửi" && Model.PostType == "Huy động quân")
    {
        <p>@Html.ActionLink("Gửi danh sách", "Create", "ListForProgram", new { id = Model.Id }, new { @class = "btn btn-success" })</p>
    }

    else
    {
        if (Model.SentOrNot == "Chưa gửi" && Model.PostType == "Xếp loại thành viên")
        {
            <p>@Html.ActionLink("Gửi danh sách", "Create", "ListForRanking", new { id = Model.Id }, new { @class = "btn btn-success" })</p>
        }

        else
        {
            <button type="button" class="btn btn-success disabled"><span class="fa fa-check-square-o"></span> Đã gửi danh sách</button>
        }

    }
}


