﻿
@{
    ViewBag.Title = "Cảnh báo quyền truy cập";
}

<div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><i class="icon fa fa-ban"></i> Cảnh báo!</h4>
    Bạn không có quyền truy cập vào nội dung trang này. Vui lòng đăng nhập tài khoản với quyền truy cập tương ứng để tiếp tục!
</div>

