﻿
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Info boxes -->
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-users"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Tổng số sinh viên toàn trường</span>
                <span class="info-box-number">15000</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-briefcase"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Tổng số Câu lạc bộ</span>
                <span class="info-box-number">29</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-user-circle"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Tổng số sinh viên tham gia Câu lạc bộ</span>
                <span class="info-box-number">1500</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-pie-chart"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Tỷ lệ sinh viên tham gia Câu lạc bộ</span>
                <span class="info-box-number">10%</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">THỐNG KÊ SỐ LẦN HUY ĐỘNG QUÂN</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-wrench"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-8">
                        <p class="text-center">
                            <strong>Số liệu thống kê: Tháng 1/2019 - Tháng 12/2019</strong>
                        </p>

                        <div class="chart">
                            <!-- Sales Chart Canvas -->
                            <canvas id="salesChart" style="height: 200px;"></canvas>
                        </div>
                        <!-- /.chart-responsive -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-4">
                        <!-- Date range -->
                        <div class="form-group">
                            <label>Chọn khoảng thời gian thống kê:</label>

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right reservation">
                            </div>
                            <!-- /.input group -->
                        </div>
                        <!-- /.form group -->

                        <button class="btn btn-success">Thống kê</button>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- ./box-body -->
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <div class="description-block border-right">
                            @*<span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>*@
                            <h5 class="description-header">125 lần</h5>
                            <span class="description-text">TỔNG SỐ LẦN HUY ĐỘNG TRONG NĂM</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 col-xs-6">
                        <div class="description-block border-right">
                            @*<span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>*@
                            <h5 class="description-header">Tháng 3 (30 lần)</h5>
                            <span class="description-text">THÁNG HUY ĐỘNG NHIỀU LẦN NHẤT</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 col-xs-6">
                        <div class="description-block border-right">
                            @*<span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>*@
                            <h5 class="description-header">Tháng 7 (1 lần)</h5>
                            <span class="description-text">THÁNG HUY ĐỘNG ÍT LẦN NHẤT</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 col-xs-6">
                        <div class="description-block">
                            @*<span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>*@
                            <h5 class="description-header">10.4 lần</h5>
                            <span class="description-text">SỐ LẦN HUY ĐỘNG TRUNG BÌNH MỖI THÁNG</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-footer -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<!-- Main row -->
<div class="row">
    <div class="col-md-6">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">TOP CLB Gửi Danh Sách Muộn Hoặc Không Gửi Danh Sách Nhiều Lần Nhất</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12" style="text-align:center;">
                        <form class="form-inline">
                            <!-- Date range -->
                            <div class="form-group">
                                <label>Chọn khoảng thời gian thống kê:</label>

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right reservation">
                                </div>
                                <!-- /.input group -->
                            </div>
                            <!-- /.form group -->
                            <button class="btn btn-success">Thống kê</button>
                        </form>
                    </div>
                </div>
                <br />
                <!-- /.row -->
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">
                            <strong>(Số lần gửi muộn hoặc không gửi / Tổng số thông báo)</strong>
                        </p>

                        <div class="progress-group">
                            <span class="progress-text">CLB BIT</span>
                            <span class="progress-number"><b>15</b>/30</span>

                            <div class="progress sm">
                                <div class="progress-bar progress-bar-red" style="width: 50%"></div>
                            </div>
                        </div>
                        <!-- /.progress-group -->
                        <div class="progress-group">
                            <span class="progress-text">CLB SEC</span>
                            <span class="progress-number"><b>12</b>/30</span>

                            <div class="progress sm">
                                <div class="progress-bar progress-bar-yellow" style="width: 40%"></div>
                            </div>
                        </div>
                        <!-- /.progress-group -->
                        <div class="progress-group">
                            <span class="progress-text">CLB GBA</span>
                            <span class="progress-number"><b>10</b>/30</span>

                            <div class="progress sm">
                                <div class="progress-bar progress-bar-aqua" style="width: 33%"></div>
                            </div>
                        </div>
                        <!-- /.progress-group -->
                        <div class="progress-group">
                            <span class="progress-text">CLB AAC</span>
                            <span class="progress-number"><b>6</b>/30</span>

                            <div class="progress sm">
                                <div class="progress-bar progress-bar-green" style="width: 20%"></div>
                            </div>
                        </div>
                        <!-- /.progress-group -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
                <a href="javascript:void(0)" class="uppercase">Xem Tất Cả</a>
            </div>
            <!-- /.box-footer -->
        </div>
        <!-- /.box -->
    </div>

    <div class="col-md-6">
        <!-- PRODUCT LIST -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">TOP CLB Gửi Danh Sách Đúng Hạn Nhiều Lần Nhất</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12" style="text-align:center;">
                        <form class="form-inline">
                            <!-- Date range -->
                            <div class="form-group">
                                <label>Chọn khoảng thời gian thống kê:</label>

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right reservation">
                                </div>
                                <!-- /.input group -->
                            </div>
                            <!-- /.form group -->
                            <button class="btn btn-success">Thống kê</button>
                        </form>
                    </div>
                </div>
                <br />
                <!-- /.row -->
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">
                            <strong>(Số lần gửi danh sách đúng hạn / Tổng số thông báo)</strong>
                        </p>

                        <div class="progress-group">
                            <span class="progress-text">CLB BIT</span>
                            <span class="progress-number"><b>30</b>/30</span>

                            <div class="progress sm">
                                <div class="progress-bar progress-bar-green" style="width: 100%"></div>
                            </div>
                        </div>
                        <!-- /.progress-group -->
                        <div class="progress-group">
                            <span class="progress-text">CLB SEC</span>
                            <span class="progress-number"><b>28</b>/30</span>

                            <div class="progress sm">
                                <div class="progress-bar progress-bar-aqua" style="width: 93%"></div>
                            </div>
                        </div>
                        <!-- /.progress-group -->
                        <div class="progress-group">
                            <span class="progress-text">CLB GBA</span>
                            <span class="progress-number"><b>26</b>/30</span>

                            <div class="progress sm">
                                <div class="progress-bar progress-bar-yellow" style="width: 86%"></div>
                            </div>
                        </div>
                        <!-- /.progress-group -->
                        <div class="progress-group">
                            <span class="progress-text">CLB AAC</span>
                            <span class="progress-number"><b>25</b>/30</span>

                            <div class="progress sm">
                                <div class="progress-bar progress-bar-red" style="width: 83%"></div>
                            </div>
                        </div>
                        <!-- /.progress-group -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
                <a href="javascript:void(0)" class="uppercase">Xem Tất Cả</a>
            </div>
            <!-- /.box-footer -->
        </div>
        <!-- /.box -->
    </div>
</div>

<div>
    <!-- TABLE: LATEST ORDERS -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">TOP Sinh Viên Tham Gia Huy Động Quân Nhiều Nhất</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-inline">
                        <!-- Date range -->
                        <div class="form-group">
                            <label>Chọn khoảng thời gian thống kê:</label>

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right reservation">
                            </div>
                            <!-- /.input group -->
                        </div>
                        <!-- /.form group -->
                        <button class="btn btn-success">Thống kê</button>
                    </form>
                </div>
            </div>
            <br />
            <!-- /.row -->
            <div class="table-responsive">
                <table class="table no-margin">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã sinh viên</th>
                            <th>Họ và tên</th>
                            <th>Lớp</th>
                            <th>Khoa</th>
                            <th>CLB trực thuộc</th>
                            <th>Số lần được huy động</th>
                            <th>Số lần tham gia thực tế</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><a href="#">18A4040127</a></td>
                            <td>Nguyễn Hoàng Long</td>
                            <td>K18HTTTB</td>
                            <td>Hệ thống thông tin quản lý</td>
                            <td>CLB BIT</td>
                            <td>20</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><a href="#">18A4040127</a></td>
                            <td>Nguyễn Hoàng Long</td>
                            <td>K18HTTTB</td>
                            <td>Hệ thống thông tin quản lý</td>
                            <td>CLB BIT</td>
                            <td>20</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><a href="#">18A4040127</a></td>
                            <td>Nguyễn Hoàng Long</td>
                            <td>K18HTTTB</td>
                            <td>Hệ thống thông tin quản lý</td>
                            <td>CLB BIT</td>
                            <td>20</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><a href="#">18A4040127</a></td>
                            <td>Nguyễn Hoàng Long</td>
                            <td>K18HTTTB</td>
                            <td>Hệ thống thông tin quản lý</td>
                            <td>CLB BIT</td>
                            <td>20</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td><a href="#">18A4040127</a></td>
                            <td>Nguyễn Hoàng Long</td>
                            <td>K18HTTTB</td>
                            <td>Hệ thống thông tin quản lý</td>
                            <td>CLB BIT</td>
                            <td>20</td>
                            <td>20</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.box-body -->
        @*<div class="box-footer clearfix">
                <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
                <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
            </div>*@
        <!-- /.box-footer -->
    </div>
    <!-- /.box -->
</div>

<script>
    $(function () {
        //Date range picker
        $('.reservation').daterangepicker();
    });
</script>