﻿@model PagedList.IPagedList<ClubHVNH.Models.ViewModel.PostViewModel>
@using PagedList.Mvc;

@{
                /**/

                ViewBag.Title = "Trang chủ";
}

<!-- Content Header (Page header) -->
@*<section class="content-header">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Mailbox</li>
        </ol>
    </section>*@

<!-- Main content -->
<section class="content">
    <div class="row">

        <!-- /.col -->
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Danh sách thông báo    <small>3 thông báo mới</small></h3>

                    <div class="box-tools pull-right">
                        <div class="has-feedback">
                            <input type="text" class="form-control input-sm" placeholder="Tìm kiếm">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">

                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped">
                            <tbody>
                                @foreach (var item in Model)

                                {
                                    <tr>
                                        <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                        <td class="mailbox-name" style="max-width:100px;">@Html.DisplayFor(modelItem => item.PostType)</td>
                                        <td class="mailbox-subject" style="max-width:300px;">
                                            <b>@Html.ActionLink(item.Name, "NotificationDetails", "Post", new { id = item.Id }, null)</b>
                                        </td>
                                        <td class="mailbox-subject">
                                            Hạn nộp: <span class="label label-info">@Html.DisplayFor(modelItem => item.Deadline)</span>
                                        </td>
                                        <td class="mailbox-subject">
                                            @{
                                                TimeSpan deadLineRange = Convert.ToDateTime(item.Deadline) - DateTime.Now;

                                                int deadLineValue = Convert.ToInt16(deadLineRange.TotalHours);

                                                if (deadLineValue >= 0)
                                                {
                                                    <span class="label label-success">Còn hạn</span>
                                                }

                                                else
                                                {
                                                    <span class="label label-danger">Hết hạn</span>
                                                }
                                            }

                                        </td>
                                        <td class="mailbox-attachment"></td>
                                        @{
                                            TimeSpan span = DateTime.Now - Convert.ToDateTime(item.CreatedDate);

                                            int totalTimes = Convert.ToInt32(Math.Round(span.TotalMinutes));
                                            if (totalTimes >= 2400)
                                            {
                                                totalTimes = Convert.ToInt32(Math.Round(span.TotalDays));

                                                <td class="mailbox-date">@totalTimes ngày trước</td>

                                            }

                                            else
                                            {
                                                if (totalTimes >= 60)
                                                {
                                                    totalTimes = Convert.ToInt32(Math.Round(span.TotalHours));

                                                    <td class="mailbox-date">@totalTimes giờ trước</td>
                                                }

                                                else
                                                {
                                                    <td class="mailbox-date">@totalTimes phút trước</td>
                                                }
                                            }
                                        }

                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- /.table -->
                        <!-- /.mail-box-messages -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer no-padding">
                        <div class="mailbox-controls">
                            <!-- /.btn-group -->
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                            <div class="pull-right">
                                @Html.PagedListPager(Model, page => Url.Action("Index",
                            new { page }))
                            </div>
                            <!-- /.btn-group -->
                        </div>
                        <!-- /.pull-right -->
                    </div>
                </div>
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
