﻿@model IEnumerable<ClubHVNH.Models.ViewModel.PostViewModel>

<li class="dropdown messages-menu">
    <!-- Menu toggle button -->
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bell-o"></i>
        @{
            if (@Model.Count() != 0)
            {
                <span class="label label-danger">@Model.Count()</span>
            }
        }

    </a>

    <ul class="dropdown-menu">
        <li class="header">Bạn có @Model.Count() tin nhắn mới</li>
        <li>
            <!-- inner menu: contains the messages -->
            <ul class="menu">
                @foreach (var item in Model)

                {
                    <li>
                        <!-- start message -->

                        <a href="@Url.Action("NotificationDetails", "Post", new { id = item.Id })">

                            <!-- Message title and timestamp -->
                            <h4>
                                @Html.DisplayFor(modelItem => item.PostType)

                                @{
                                    TimeSpan span = DateTime.Now - Convert.ToDateTime(item.CreatedDate);

                                    int totalTimes = Convert.ToInt32(Math.Round(span.TotalMinutes));
                                    if (totalTimes >= 2400)
                                    {
                                        totalTimes = Convert.ToInt32(Math.Round(span.TotalDays));

                                        <small><i class="fa fa-clock-o"></i> @totalTimes ngày trước</small>


                                    }

                                    else
                                    {
                                        if (totalTimes >= 60)
                                        {
                                            totalTimes = Convert.ToInt32(Math.Round(span.TotalHours));

                                            <small><i class="fa fa-clock-o"></i> @totalTimes giờ trước</small>
                                        }

                                        else
                                        {
                                            <small><i class="fa fa-clock-o"></i> @totalTimes phút trước</small>
                                        }
                                    }
                                }

                            </h4>
                            <!-- The message -->
                            <p>Hạn nộp: @Html.DisplayFor(modelItem => item.Deadline)</p>
                        </a>
                    </li>
                    <!-- end message -->
                }
            </ul>
            <!-- /.menu -->
        </li>
        @*<li class="footer"><a href="#">See All Messages</a></li>*@
    </ul>
</li>
<!-- /.messages-menu -->
