﻿@model IEnumerable<ClubHVNH.Models.ViewModel.UserViewModel>

@{
    ViewBag.Title = "Xóa tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Username)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Username)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ClubName)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.ClubName)
            </dd>
        }
        </dl>
        
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-warning" })
    </div>
    }
</div>
