﻿
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-box">
    <div class="login-box-body">
        <p class="login-box-msg">Nhập mật khẩu mới của bạn</p>
        <form action="~/Users/EditPassword" method="post">
            <div class="form-group has-feedback">
                <input type="password" name="password" class="form-control" placeholder="Nhập mật khẩu mới">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            <div class="row">
                <!-- /.col -->
                <div class="col-xs-6">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Đổi mật khẩu</button>
                </div>
                <!-- /.col -->
            </div>

            <input type="hidden" name="username" class="form-control" value="@Session["username"]">
        </form>
    </div>
</div>