﻿@model IEnumerable<ClubHVNH.Models.ViewModel.UserViewModel>

@{
    ViewBag.Title = "Danh sách tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-warning" })
</p>
<table class="table">

    @{
        int count = 0;
    }

    <tr>
        <th>
            STT
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAdmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClubName)
        </th>
        <th>Thao tác</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @{ count++; }
            @count
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAdmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClubName)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id = item.Id }, new { @class = "btn btn-info" }) 
            @Html.ActionLink("Xóa", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
    }

</table>
