﻿@model IEnumerable<ClubHVNH.Models.ViewModel.MemberViewModel>

@{
    ViewBag.Title = "Gửi danh sách huy động quân";
}
<style>
    #tblMembers > thead > tr {
        display: block;
    }

    #tblMembers > tbody {
        display: block;
        height: 500px; /* Just for the demo          */
        overflow-y: auto; /* Trigger vertical scroll    */
        overflow-x: hidden; /* Hide the horizontal scroll */
    }
</style>

<div class="row">
    <div class="col-md-6">
        <table id="tblMembers" class="table">

            @{
                int count = 0;
            }

            <tr>
                <th>STT</th>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.DepartmentName)</th>
                <th>@Html.DisplayNameFor(model => model.RankName)</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @{ count++; }
                        @count
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.DepartmentName)</td>
                    <td>@Html.DisplayFor(modelItem => item.RankName)</td>
                    <td>
                        <button id="btnAdd" class="btn btn-success" onclick="Add(this)"><i class="fa fa-plus"></i></button>
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="col-md-6">
        @*<b>Ghi chú (Người quản lý nhóm):</b>
            <textarea id="Note" name="Note" rows="3" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 90%;"></textarea>*@
        <table id="tblList" class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.DepartmentName)</th>
                    <th>@Html.DisplayNameFor(model => model.RankName)</th>
                </tr>
            </thead>
            <tbody id="item_table"></tbody>
        </table>

    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <input type="button" id="btnSave" value="Gửi danh sách" class="btn btn-warning" />
        <button class="btn btn-warning loading" type="button" disabled style="display:none;">
            <span class="glyphicon glyphicon-refresh"></span>
            Đang gửi...
        </button>
    </div>
</div>


<script type="text/javascript">

    function CheckExist(Id) {
        var exist;

        $("#item_table").find("tr").each(function () {
            var IdExist = $(this).find("td:eq(0)").html();

            if (Id == IdExist) {
                exist = true;

                return false;
            }
        });

        return exist;
    }

    function Add(button) {
        var row = $(button).closest("TR");

        var Id = $("TD", row).eq(1).text();
        var Name = $("TD", row).eq(2).text();
        var DepartmentName = $("TD", row).eq(3).text();
        var RankName = $("TD", row).eq(4).text();

        //Check if field already exists in table
        if (CheckExist(Id)) {
            alert("Mã sinh viên: " + Id + "Đã có trong danh sách");
        }
        else {
            var html = '';
            html += '<tr>';
            html += '<td>' + Id + '</td>';
            html += '<td>' + Name + '</td>';
            html += '<td>' + DepartmentName + '</td>';
            html += '<td>' + RankName + '</td>';
            html += '<td><button class="btn btn-danger" onclick ="Remove(this)"><i class="fa fa-close"></i></button></td></tr>';

            $('#item_table').append(html);
        }

    };

    function Remove(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var name = $("TD", row).eq(0).html();
        if (confirm("Bạn có chắc chắn muốn xóa: " + name + "?")) {
            //Get the reference of the Table.
            var table = $("#tblList")[0];

            //Delete the Table row using it's Index.
            table.deleteRow(row[0].rowIndex);
        }
    };

    $("#btnSave").on("click", function () {
        if (confirm("Bạn có chắc chắn muốn gửi danh sách?")) {

            //Loop through the Table rows and build a JSON array.
            var joinProgramDetails = new Array();
            $("#item_table TR").each(function () {
                var row = $(this);
                var joinProgramDetail = {};

                joinProgramDetail.MemberId = row.find("TD").eq(0).text();

                joinProgramDetails.push(joinProgramDetail);
            });

            $('.loading').show();
            $('#btnSave').hide();

            if (joinProgramDetails.length === 0) {
                $('.loading').hide();
                $('#btnSave').show();

                alert("Danh sách đang trống");
            }

            else {
                var newUrl = '@Url.Action("Index", "ListForProgram")';

                //Send the JSON array to Controller using AJAX.
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Create", "ListForProgram")',
                    data: JSON.stringify(joinProgramDetails),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                    success: function (message) {
                        if (message == 'ok') {
                            $('.loading').hide();
                            $('#btnSave').show();

                            alert("Danh sách đã được gửi");

                            window.location.href = newUrl;
                        }
                        else {
                            $('.loading').hide();
                            $('#btnSave').show();

                            alert("Mã sinh viên: " + message + " không tồn tại");
                        }

                    }
                });
            }
        }
    });
</script>
