﻿@model IEnumerable<ClubHVNH.Models.ViewModel.ProgramAndRankingViewModel>

@{
    ViewBag.Title = "Danh sách thông báo huy động quân";
}
<table class="table">

    @{
        int count = 0;
    }

    <tr>
        <th>STT</th>
        <th>@Html.DisplayNameFor(model => model.PostType)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Deadline)</th>
        <th>Trạng thái hạn nộp</th>
        <th>Trạng thái nộp</th>
        <th>Thao tác</th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                @{ count++; }
                @count
            </td>
            <td>@Html.DisplayFor(modelItem => item.PostType)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Deadline)</td>
            @{
                TimeSpan deadLineRange = Convert.ToDateTime(item.Deadline) - DateTime.Now;

                int deadLineValue = Convert.ToInt32(deadLineRange.TotalHours);

                if (deadLineValue >= 0)
                {
                    <td><span class="label label-success">Còn hạn</span></td>
                }

                else
                {
                    <td><span class="label label-danger">Hết hạn</span></td>
                }

                if (item.SentOrNot == "Gửi đúng hạn")
                {
                    <td><span class="label label-success">@item.SentOrNot</span></td>
                }

                else
                {
                    if (item.SentOrNot == "Gửi muộn")
                    {
                        <td><span class="label label-warning">@item.SentOrNot</span></td>
                    }

                    else
                    {
                        <td><span class="label label-danger">@item.SentOrNot</span></td>
                    }

                }
            }

            <td>@Html.ActionLink("Xem", "NotificationDetails", "Post", new { id = item.Id }, new { @class = "btn btn-primary" })</td>

            @{
                if (item.SentOrNot == "Gửi đúng hạn" || item.SentOrNot == "Gửi muộn")
                {
                    <td>@Html.ActionLink("Xem danh sách đã gửi", "ShowListForProgram", "ListForProgram", new { id = item.Id }, new { @class = "btn btn-success" })</td>
                }
            }
        </tr>
    }

</table>

