﻿@model IEnumerable<ClubHVNH.Models.ViewModel.ListForProgramViewModel>
@{
    ViewBag.Title = "Danh sách thành viên được huy động";
}
<table class="table">

    @{
        int count = 0;
    }

    <tr>
        <th>STT</th>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.DepartmentName)</th>
        <th>@Html.DisplayNameFor(model => model.RankName)</th>
        <th>@Html.DisplayNameFor(model => model.JoinedOrNot)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                @{ count++; }
                @count
            </td>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.DepartmentName)</td>
            <td>@Html.DisplayFor(modelItem => item.RankName)</td>
            @{
                if (item.JoinedOrNot == 1)
                {
                    <td><span class="label label-success">Có tham gia</span></td>
                }

                else
                {
                    if (item.JoinedOrNot == 0)
                    {
                        <td><span class="label label-danger">Không tham gia</span></td>
                    }

                    else
                    {
                        <td><span class="label label-warning">Chưa cập nhật</span></td>
                    }
                }
            }
        </tr>
    }

</table>

