﻿@model ClubHVNH.Models.JoinClub
@{
    /**/

    ViewBag.Title = "Thêm mới thành viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>@Html.ActionLink("<< Quay lại danh sách", "Index", null, new { @class = "btn btn-default" })</p>

<form method="post" id="insert_form">
    <div class="table-responsive">
        <span id="error"></span>
        <table id="tblMembers" class="table">
            <thead>
                <tr>
                    <th>Mã sinh viên</th>
                    <th>Họ và tên</th>
                    <th>Ngày sinh</th>
                    <th>Lớp</th>
                    <th>Khoa</th>
                    <th>Ban</th>
                    <th>Chức vụ</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="item_table"></tbody>
            <tfoot>
                <tr>
                    <td><input type="text" id="txtId" name="txtId" class="form-control" /></td>
                    <td><input type="text" id="txtName" name="txtName" class="form-control" disabled /></td>
                    <td><input type="text" id="txtDateOfBirth" name="txtDateOfBirth" class="form-control" disabled /></td>
                    <td><input type="text" id="txtClass" name="txtClass" class="form-control" disabled /></td>
                    <td><input type="text" id="txtMajor" name="txtMajor" class="form-control" disabled /></td>
                    <td>@Html.DropDownList("DepartmentId", null, htmlAttributes: new { @class = "form-control" })</td>
                    <td>@Html.DropDownList("RankId", null, htmlAttributes: new { @class = "form-control" })</td>
                    <td><input type="button" id="btnAdd" value="Thêm mới" class="btn btn-success" /></td>
                </tr>
            </tfoot>
        </table>
    </div>
</form>

<br />

<input type="button" id="btnSave" value="Lưu tất cả" class="btn btn-warning"/>

<button class="btn btn-warning loading" type="button" disabled style="display:none;">
    <span class="glyphicon glyphicon-refresh"></span>
    Đang lưu...
</button>

@*Scripts file that help to make scroll bar in auto complete search box*@
<script  type="text/javascript" src="~/Scripts/jquery.ui.autocomplete.scroll.min.js"></script>

<script type="text/javascript">

    //Show suggest list of MemberId when we type on #txtId textbox
    $("#txtId").autocomplete({
        maxShowItems: 8,
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("GetAutoCompleteSearch", "Members")',
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Id + " - " + item.Name, value: item.Id, data: item };

                    }));
                }
            });
        },

        select: function (e, ui) {

            alert("selected!");

        }
    });

    $("body").on("click", "#btnAdd", function () {

        var error = '';
        $('#txtName').each(function () {
            if ($(this).val() == '') {

                error += "<p>Hãy nhập thông tin</p>";

                return false;
            }
        });

        if (error == '') {
            //Reference the Name and Country TextBoxes.
            var Id = $("#txtId");
            var Name = $("#txtName");
            var DateOfBirth = $("#txtDateOfBirth");
            var Class = $("#txtClass");
            var Major = $("#txtMajor");
            var DepartmentId = $("#DepartmentId");
            var RankId = $("#RankId");
            var DepartmentName = $("#DepartmentId option:selected");
            var RankName = $("#RankId option:selected");
            
            var html = '';
            html += '<tr>';
            html += '<td>' + Id.val() + '</td>';
            html += '<td>' + Name.val() + '</td>';
            html += '<td>' + DateOfBirth.val() + '</td>';
            html += '<td>' + Class.val() + '</td>';
            html += '<td>' + Major.val() + '</td>';
            html += '<td style="display:none">' + DepartmentId.val() + '</td>';
            html += '<td style="display:none">' + RankId.val() + '</td>';
            html += '<td>' + DepartmentName.text() + '</td>';
            html += '<td>' + RankName.text() + '</td>';
            html += '<td><input type="button" class="btn btn-danger" onclick ="Remove(this)" value="Xóa" /></td></tr>';

            $('#item_table').append(html);

            //Clear All the TextBoxes.
            $('input[type=text]').each(function () {

                $(this).val('');

            });

        }

        else {
            alert("Hãy điền thông tin");

        }

    });

    function Remove(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var name = $("TD", row).eq(0).html();
        if (confirm("Bạn có chắc chắn muốn xóa: " + name + "?")) {
            //Get the reference of the Table.
            var table = $("#tblMembers")[0];

            //Delete the Table row using it's Index.
            table.deleteRow(row[0].rowIndex);
        }
    };

    $("body").on("click", "#btnSave", function () {
        //Loop through the Table rows and build a JSON array.
        var members = new Array();
        $("#tblMembers TBODY TR").each(function () {
            var row = $(this);
            var member = {};

            member.MemberId = row.find("TD").eq(0).html();
            member.DepartmentId = row.find("TD").eq(5).html();
            member.RankId = row.find("TD").eq(6).html();

            members.push(member);
        });

        $('.loading').show();
        $('#btnSave').hide();

        //Send the JSON array to Controller using AJAX.
        $.ajax({
            type: "POST",
            url: '@Url.Action("InsertMembers", "Members")',
            data: JSON.stringify(members),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (message) {
                if (message == 'ok') {
                    $('.loading').hide();
                    $('#btnSave').show();

                    alert("Các thành viên đã được lưu");

                    //Empty all temp data in tbody #item_table
                    $("#item_table").empty();
                }
                else {
                    $('.loading').hide();
                    $('#btnSave').show();

                    alert("Mã sinh viên: " + message + " Đã có trong danh sách hoặc không tồn tại");
                }

            }
        });
    });

    $('#txtId').on('input change paste', function () {
        $.ajax({
            type: "post",
            url: '@Url.Action("GetSearchingData", "Members")',
            data: {
                SearchValue: $("#txtId").val()
            },
            success: function (result) {
                if ($.trim(result)) {
                    $.each(result, function (index, value) {
                        $("#txtId").val(value.Id);
                        $("#txtName").val(value.Name);
                        $("#txtDateOfBirth").val(value.DateOfBirth);
                        $("#txtClass").val(value.Class);
                        $("#txtMajor").val(value.Major);
                    });
                }
                else {

                    $("#txtName").val('');
                    $("#txtDateOfBirth").val('');
                    $("#txtClass").val('');
                    $("#txtMajor").val('');
                }
            },

            error: function () {

                $("#txtName").val('');
                $("#txtDateOfBirth").val('');
                $("#txtClass").val('');
                $("#txtMajor").val('');
            }
        });
    });

</script>

