﻿@model PagedList.IPagedList<ClubHVNH.Models.ViewModel.MemberViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Danh sách thành viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Convert.ToBoolean(Session["active"]) == true)
{
    <p>
        @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-warning" })
    </p>
}

<table class="table">

    @{
        int count = 0;
    }

    <tr>
        <th>
            STT
        </th>
        <th>
            Mã sinh viên
        </th>
        <th>
            Họ và tên
        </th>
        <th>
            Ngày sinh
        </th>
        <th>
            Lớp
        </th>
        <th>
            Khoa
        </th>
        <th>
            Tên ban
        </th>
        <th>
            Chức vụ
        </th>
        <th>Thao tác</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{ count++; }
                @count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Major)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RankName)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.Id }, new { @class = "btn btn-info" })
                @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }, new { @class = "btn btn-default" })

                @if (Convert.ToBoolean(Session["active"]) == true)
                {
                    @Html.ActionLink("Xóa", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                }
            </td>
        </tr>
    }
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
