﻿<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">DANH MỤC QUẢN LÝ</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active"><a href="~/Members"><i class="fa fa-group"></i> <span>Quản lý thành viên</span></a></li>
            <li><a href="~/Ranks"><i class="glyphicon glyphicon-education"></i> <span>Quản lý chức vụ</span></a></li>
            <li><a href="~/Departments"><i class="glyphicon glyphicon-briefcase"></i> <span>Quản lý ban</span></a></li>
            <li><a href="~/ListForProgram"><i class="glyphicon glyphicon-bullhorn"></i> <span>Quản lý huy động quân</span></a></li>
            <li><a href="~/ListForRanking"><i class="fa fa-bar-chart"></i> <span>Quản lý xếp loại thành viên</span></a></li>
            @*<li><a href="#"><i class="glyphicon glyphicon-user"></i> <span>Waiting...</span></a></li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-link"></i> <span>Multilevel</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#">Link in level 2</a></li>
                <li><a href="#">Link in level 2</a></li>
            </ul>
        </li>*@
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>

