﻿<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">DANH MỤC QUẢN LÝ</li>

            <!-- Optionally, you can add icons to the links -->
            <li class="active"><a href="~/ImportExcel"><i class="glyphicon glyphicon-upload"></i><span>Nhập danh sách sinh viên</span></a></li>
            <li><a href="~/ImportExcel/StudentList"><i class="fa fa-group"></i><span>Danh sách sinh viên toàn trường</span></a></li>
            <li><a href="~/ActivateCreateMember"><i class="glyphicon glyphicon-play-circle"></i> <span>Kích hoạt thêm mới thành viên</span></a></li>
            <li><a href="~/Clubs"><i class="fa fa-group"></i> <span>Quản lý câu lạc bộ</span></a></li>
            <li><a href="~/Users"><i class="glyphicon glyphicon-user"></i> <span>Quản lý tài khoản</span></a></li>
            <li><a href="~/Post"><i class="glyphicon glyphicon-bullhorn"></i> <span>Quản lý thông báo</span></a></li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
