﻿@model ClubHVNH.Models.Club

@{
    ViewBag.Title = "Chi tiết CLB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) 
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-warning" })
</p>
