﻿@model IEnumerable<ClubHVNH.Models.Club>

@{
    ViewBag.Title = "Danh sách CLB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-warning" })
</span>

<table class="table table-bordered">

    @{
        int count = 0;
    }
    <tr>
        <th>
            STT
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Thao tác</th>
    </tr>

    @foreach (var item in Model)

    {
        <tr>
            <td>
                @{ count++; }
                @count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Xem danh sách thành viên", "ListMember", new { id = item.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Sửa", "Edit", new { id = item.Id }, new { @class = "btn btn-info" })
                @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Xóa", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
