﻿
@{
    ViewBag.Title = "Nhập danh sách sinh viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Import", "ImportExcel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p style="color:red;">@ViewBag.error</p>
    <h4>Nhập file excel danh sách sinh viên tại đây</h4><input type="file" name="excelfile" />
    <br />
    <input type="submit" class="btn btn-primary" value="Import" />
}


