﻿@model IEnumerable<ClubHVNH.Models.ViewModel.DepartmentViewModel>

@{
    /**/

    ViewBag.Title = "Danh sách ban";
}

<span>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-warning" })
</span>

<table class="table table-bordered">

    @{
        int count = 0;
    }
    <tr>
        <th></th>

        <th>STT</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Description)</th>
        <th>Thao tác</th>
    </tr>

    @foreach (var item in Model)

    {
        <tr>
            <td></td>
            <td>
                @{ count++; }
                @count
            </td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.Id }, new { @class = "btn btn-info" })
                @Html.ActionLink("Xóa", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>

