﻿@model IEnumerable<ClubHVNH.Models.ViewModel.MemberViewModel>

@{
    ViewBag.Title = "Gửi danh sách xếp loại thành viên";
}
<form method="post" id="insert_form">
    <div class="table-responsive">
        <table class="table">
            <thead>
                @{
                    int count = 0;
                }

                <tr>
                    <th>STT</th>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.DateOfBirth)</th>
                    <th>@Html.DisplayNameFor(model => model.Class)</th>
                    <th>@Html.DisplayNameFor(model => model.Major)</th>
                    <th>@Html.DisplayNameFor(model => model.DepartmentName)</th>
                    <th>@Html.DisplayNameFor(model => model.RankName)</th>
                    <th>Mức độ đánh giá</th>
                    <th>Điểm hệ 10</th>
                    <th>Điểm hệ 4</th>
                </tr>
            </thead>

            <tbody id="item_table">
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @{ count++; }
                            @count
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.DateOfBirth)</td>
                        <td>@Html.DisplayFor(modelItem => item.Class)</td>
                        <td>@Html.DisplayFor(modelItem => item.Major)</td>
                        <td>@Html.DisplayFor(modelItem => item.DepartmentName)</td>
                        <td>@Html.DisplayFor(modelItem => item.RankName)</td>
                        <td>@Html.DropDownList("RankingCategoryId", null, htmlAttributes: new { @class = "form-control" })</td>
                        <td style="max-width:20px;"><input type="number" id="Mark10" name="Mark10" class="form-control" /></td>
                        <td style="max-width:20px;"><input type="number" id="Mark4" name="Mark4" class="form-control" /></td>
                    </tr>
                }
            </tbody>

            

        </table>
    </div>
</form>

<input type="button" id="btnSave" value="Gửi danh sách" class="btn btn-warning" />

<button class="btn btn-warning loading" type="button" disabled style="display:none;">
    <span class="glyphicon glyphicon-refresh"></span>
    Đang gửi...
</button>

<script type="text/javascript">
     $("#btnSave").on("click", function () {
        if (confirm("Bạn có chắc chắn muốn gửi danh sách?")) {

            //Loop through the Table rows and build a JSON array.
            var rankingListDetails = new Array();
            $("#item_table TR").each(function () {
                var row = $(this);
                var rankingListDetail = {};

                rankingListDetail.MemberId = row.find("TD").eq(1).html();
                rankingListDetail.RankingCategoryId = row.find("#RankingCategoryId").val();
                rankingListDetail.Mark10 = row.find("#Mark10").val();
                rankingListDetail.Mark4 = row.find("#Mark4").val();

                rankingListDetails.push(rankingListDetail);
            });

            $('.loading').show();
            $('#btnSave').hide();

            if (rankingListDetails.length === 0) {
                $('.loading').hide();
                $('#btnSave').show();

                alert("Danh sách đang trống");
            }

            else {
                var newUrl = '@Url.Action("Index", "ListForRanking")';

                //Send the JSON array to Controller using AJAX.
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Create", "ListForRanking")',
                    data: JSON.stringify(rankingListDetails),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                    success: function (message) {
                        if (message == 'ok') {
                            $('.loading').hide();
                            $('#btnSave').show();

                            alert("Danh sách đã được gửi");

                            window.location.href = newUrl;
                        }
                        else {
                            $('.loading').hide();
                            $('#btnSave').show();

                            alert("Mã sinh viên: " + message + " không tồn tại");
                        }

                    }
                });
            }
        }
    });

</script>