﻿@model IEnumerable<ClubHVNH.Models.ViewModel.ListForRankingViewModel>
@{
    ViewBag.Title = "Danh sách xếp loại thành viên";
}
<table class="table">

    @{
        int count = 0;
    }

    <tr>
        <th>STT</th>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.DateOfBirth)</th>
        <th>@Html.DisplayNameFor(model => model.Class)</th>
        <th>@Html.DisplayNameFor(model => model.Major)</th>
        <th>@Html.DisplayNameFor(model => model.DepartmentName)</th>
        <th>@Html.DisplayNameFor(model => model.RankName)</th>
        <th>@Html.DisplayNameFor(model => model.RankingCategory)</th>
        <th>@Html.DisplayNameFor(model => model.Mark10)</th>
        <th>@Html.DisplayNameFor(model => model.Mark4)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                @{ count++; }
                @count
            </td>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.DateOfBirth)</td>
            <td>@Html.DisplayFor(modelItem => item.Class)</td>
            <td>@Html.DisplayFor(modelItem => item.Major)</td>
            <td>@Html.DisplayFor(modelItem => item.DepartmentName)</td>
            <td>@Html.DisplayFor(modelItem => item.RankName)</td>
            <td>@Html.DisplayFor(modelItem => item.RankingCategory)</td>
            <td>@Html.DisplayFor(modelItem => item.Mark10)</td>
            <td>@Html.DisplayFor(modelItem => item.Mark4)</td>

        </tr>
    }

</table>

